# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Hardhat
cache/
artifacts/
coverage/
coverage.json
typechain/
typechain-types/

# Environment Variables
.env

# OS Files
.DS_Store
Thumbs.db
